
.chat {
    width: 300px;
    border: none;
    border-radius: 15px
}

.rcw-conversation-container > .rcw-header {
    background-color: red;
  }
  
  .rcw-message > .rcw-response {
    background-color: black;
    color: white;
  }