.nav{
    background-image:url("/src/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: multiply;
 
}
.top-bar,.top-bar-right,.top-bar-left, .menu{
    font-family: 'Limelight', sans-serif;
    font-size: 20px;
    color: #2b2e43; 
    margin-top: 5px;
    padding: 5px;
    border-style: groove;
    border-radius:20;
    padding: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;    
}
.menu-text{
    font-family: 'Limelight', sans-serif;
    font-size: 20px;
    color: #2b2e43; 
    list-style-type: none;
    display: inline;
    margin: 0;
    padding:10px;
   
}
