*{
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  
}

.App{
  text-align: center;
  font-family: 'Limelight', sans-serif;
}
.App-logo {
  animation: App-logo-spin infinite 40s
  linear;
  height: 50vmin;
  pointer-events: none;
}
.App.header {
  background-image:linear-gradient(to bottom, #962d49 #53b0ae);
  background-image:url("../images/banner.png");
  background-size:cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}