
*, *:before, *:after {
    box-sizing: border-box;
    
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
   
  }

body {
padding: auto;
align-content: flex-start;
content: initial;
background-image:linear-gradient(to bottom, #962d49, #53b0ae);
background-size: cover;
}
.h1{
font-family: 'Limelight', sans-serif;

}