body {
padding: auto;
align-content: flex-start;
content: initial;
background-image:linear-gradient(to bottom, #962d49, #53b0ae);
background-size: cover;
}
.heading{
font-family: 'Limelight', sans-serif;
font-weight: 900;
}
.subheading {
  font-weight: 400;
}