* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#39373b;
    margin: 0 auto;
    color:#f0eeee;
}

.callout.large {
    background-image: url("../images/background.jpg");
    background-size:cover ;
    background-position: center;
    color:#f0eeee;
    font-size: 48px;
    font-family: 'Nova Cut',sans-serif;

}
.top-bar,.top-bar-right,.top-bar-left, .menu{
    color:#39373b;
    font-size: 16px;
    font-family: 'Exo',sans-serif;
   
}
.menu-text{
    font-size:20px;
    font-style: oblique;
}

.thumbnail{
    padding: 5px;
    height:300px;
    width: 275px;

}
.thumbnail-profile{
    padding: 5px;
    height:auto;
    width: auto;

}
.lead{
    float: inline-end;
    font-family:'Exo', sans-serif;
    font-size: 18px;
}

.h1{
    padding-top: 15px;
    font-family:'Limelight', sans-serif;
    font-size: 58px;
    
}
.h2{
    padding-top: 15px;
    font-family:'Limelight', sans-serif;
    font-size: 48px;
    color:#f0eeee;
    
}
.h3{
    padding-top: 10px;
    font-family:'Limelight', sans-serif;
    font-size: 30px;
    color:#f0eeee;
    
}
/* For portfolio page highlighting latest work*/
.work-feature-block {
    padding: 10px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
  
/*Style settings for the contact page portfolio card section*/ 
.card-user-container {
    margin-bottom: 2rem;
    background-color:#fab472;
    background-blend-mode: multiply;
    stop-color: #748684;
    flood-color: #cbe7e3;
    
    color:#cacaca;
    overflow: hidden;
    padding: 0;
    border-radius: 10%;
    border-color: #918f8f;
    border-style: groove;
  }
  
  .card-user-container .card-user-avatar .user-image {
    display: block;
    margin: auto;
    width:auto;
    height:auto;
    padding: 0.9375rem;
  }
  
  .card-user-container .card-user-avatar .user-image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card-user-container .card-user-bio {
    padding: 2rem;
    text-align: center;
  }
  
  .card-user-container .card-user-bio .location {
    display: inline-block;
    margin: 0 0.9375rem;
    color:#cacaca;
    font-size: 0.875rem;
  }
  
  .card-user-container .card-user-bio .location-icon,
  .card-user-container .card-user-bio .location-text {
    display: inline-block;
    padding: 0 0.3125rem;
  }
  
  .card-user-container .card-user-social {
    background:#39373b;
    padding: 1rem;
    text-align: center;
  }
  
  .card-user-container .card-user-social ul {
    display: inline-block;
  }
  
  .card-user-container .card-user-social ul li {
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .card-user-container .card-user-social ul li:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card-user-container .card-user-button {
    text-align: center;
    padding: 1rem;
  }
  
/*Styling section for main section of contact and home page*/

  .hero-section {
    margin-top:100px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    height:85%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content:space-around;
  } 
    .hero-section-text {
      color:#f0eeee;
      text-shadow: 1px 1px 2px #222122;
    }
 /*Style settings for social buttons - LinkedIn and GitHub*/ 


 .rounded-social-buttons {
   text-align: center;
 }
 
 .rounded-social-buttons .social-button {
   display: inline-block;
   position: relative;
   cursor: pointer;
   width: 3.125rem;
   height: 3.125rem;
   border: 0.125rem solid transparent;
   padding: 0;
   text-decoration: none;
   text-align: center;
   color:#fefefe;
   font-size: 1.5625rem;
   font-weight: normal;
   line-height: 2em;
   border-radius: 1.6875rem;
   transition: all 0.5s ease;
   margin-right: 0.25rem;
   margin-bottom: 0.25rem;
 }
 
 .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
   -webkit-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
           transform: rotate(360deg);
 }
 .rounded-social-buttons .social-button.linkedin {
   background: #007bb5;
 }
 
 .rounded-social-buttons .social-button.linkedin:before {
   font-family: "FontAwesome";
   
 }
 
 .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
   color: #007bb5;
   background: #fefefe;
   border-color: #007bb5;
 }
 
 .rounded-social-buttons .social-button.github:before {
   font-family: "FontAwesome";
   
 }
 
 .rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
   color: #000000;
   background:#39373b;
   border-color:#fefefe;
 }
 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Voces', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
