.header{
  padding: 10px;
  background-image: linear-gradient(to bottom #962d49, #53b0ae);
  background-blend-mode: multiply;

  height: 15%;

}
.Header-img{
  height:200px;
  background-size: cover;
  background-image: linear-gradient(to bottom #962d49, #53b0ae);
  background-image:url("/src/images/banner.png");
  background-blend-mode: luminosity;
}


.h1{
    font-family: 'Limelight', sans-serif;
    font-size: 38px;
    color: #a29e92;
    font-display: justify;
  }
