.header{
  color:#a29e92;
  padding: 10px;
  background-image: linear-gradient(to bottom #962d49, #53b0ae);
  background-blend-mode: multiply;
  height: 600px;
  margin: 0px
;
}
.header-img{
  height:600px;
  margin:2px;
  background-size: cover;
 background-image:url("/src/images/banner.png");
  background-blend-mode: color-dodge;
  font-family: 'Limelight', sans-serif;
  font-size: 38px;
  color: #a29e92;
  display: justify;
}



