.Header-img{
    margin-top:10px;
    padding: 10px;
    max-height: 35%;
    max-width: 20%;
   background-image:linear-gradient(to bottom right, #962d49, #53b0ae);
    background-blend-mode: multiply;

}

.Header-background{
    background-image: url("/src/images/banner.jpg");
    background-size: cover;
    margin-left:12px;
    margin-right:12px;
    padding: 5;
    background-image:linear-gradient(to bottom right, #962d49, #53b0ae);
    background-blend-mode: multiply;
    align-items: center;
    
    
}
.blend{
  background-color: -moz-linear-gradient(to bottom right, #962d49, #53b0ae);
    background-blend-mode:multiply;
  }
.h1{
    font-family: 'Limelight', sans-serif;
    font-size: 38px;
    color: #a29e92;
    font-display: justify;
  }
  .hero-section{
margin-top:0;
   width: 85%;
    height: 25%;
   background-color: -moz-linear-gradient(to bottom right, #962d49, #53b0ae);
  background-image: url('/src/images/banner.jpg');
   background-size: cover;
 
  }