/* COLOR VARIABLES
============================================= */
$primary:#cf6977;
$secondary:#4f3466;
$tertiary:#5e081e;


/* GRADIENT LISTS
============================================= */

$list1: $primary, $secondary, $tertiary; 

$list2: $primary 0%,$primary 33%,$secondary 33%,$secondary 66%, $tertiary 66%, $tertiary 100%; 

$list3: $primary 0%,$primary 10%,$secondary 25%,$secondary 39%,$tertiary 79%,$tertiary 100%; 

$list4: $primary, $secondary, $tertiary, $primary, $secondary, $tertiary, $primary, $secondary, $tertiary; 

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}


.wrapper {
  position: relative;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}

.bar {
  height: 50px;
  width: 100%;
  margin-top:10px;
}


.one {
  @include gradient( to left, $list1);
}

.two {
  @include gradient(to right, $list1);
}

.three {
  @include gradient(to left, $list2);
}

.four {
  @include gradient( to top, $list3);
}

.five {
  @include gradient( to bottom, $list3);
}

.six {
  @include gradient(to left, $list4);
}


